.container-fluid {
  padding: 0;
}

.r-card {
  font-family: 'Special Elite', cursive;
  text-align: left;
  background: #fff8ec;
  color: @brown;
  border-radius: 3px;
  -webkit-box-shadow: 
  1px 1px   0 rgba(0,   0,   0,   0.100), 
  3px 3px   0 rgba(255, 255, 255, 1.0), 
  4px 4px   0 rgba(0,   0,   0,   0.125), 
  6px 6px   0 rgba(255, 255, 255, 1.0),  
  7px 7px   0 rgba(0,   0,   0,   0.150), 
  9px 9px   0 rgba(255, 255, 255, 1.0),  
  10px 10px 0 rgba(0,   0,   0,   0.175);
  -moz-box-shadow: 
  1px 1px   0 rgba(0,   0,   0,   0.100), 
  3px 3px   0 rgba(255, 255, 255, 1.0), 
  4px 4px   0 rgba(0,   0,   0,   0.125), 
  6px 6px   0 rgba(255, 255, 255, 1.0),  
  7px 7px   0 rgba(0,   0,   0,   0.150), 
  9px 9px   0 rgba(255, 255, 255, 1.0),  
  10px 10px 0 rgba(0,   0,   0,   0.175);
  box-shadow: 
  1px 1px   0 rgba(0,   0,   0,   0.100), 
  3px 3px   0 rgba(255, 255, 255, 1.0), 
  4px 4px   0 rgba(0,   0,   0,   0.125), 
  6px 6px   0 rgba(255, 255, 255, 1.0),  
  7px 7px   0 rgba(0,   0,   0,   0.150), 
  9px 9px   0 rgba(255, 255, 255, 1.0),  
  10px 10px 0 rgba(0,   0,   0,   0.175);
  h3 {
    margin: 0;
    padding: 20px 0px 5px 30px;
    border-bottom: red 2px solid;
  }

  p {
    display: block;
    width: 94%;
    margin: 0 auto;
    border: none;
    outline: none;
    height: 94%;
    background: transparent;
    line-height: 20px;
  }

  .paper {
    height: 50%;
    min-height: 200px;
    font-size: 12px;
    margin: 0 auto;
    position: relative;
    color: #444;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff8ec 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff8ec 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff8ec 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff8ec 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff8ec 8%) 0 4px;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  }
}

